/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/
/* line 2, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
body {
  background-color: #EFEFEF;
}

/* line 7, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table {
  width: 100%;
  border: solid 2px black;
  empty-cells: show;
  border-collapse: collapse;
}
/* line 14, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table th {
  text-align: center;
  border: 1px black solid;
  border-bottom: 2px black solid;
}
/* line 20, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table td {
  text-align: center;
  border: 1px black solid;
}

/* line 27, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
li.sorted {
  padding: 0;
  margin: 0;
}

/* line 32, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
ul.sorted {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 39, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.logheader {
  border: none;
  width: 100%;
}
/* line 44, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.logheader td {
  border: none;
}

/* line 51, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.disabled {
  background-color: #9F9F9F;
}

/* line 56, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.odd {
  background-color: #DFDFFF;
}

/* line 61, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.even {
  background-color: #FFFFFF;
}

/* line 66, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
div.survey {
  width: 100%;
  text-align: center;
}

/* line 72, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey {
  width: 70%;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
/* line 79, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey tr {
  border: none;
}
/* line 84, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td {
  border: none;
  padding: 2px;
}
/* line 89, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td .question {
  width: 60%;
  text-align: right;
}
/* line 94, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td .header_left {
  width: 60%;
  text-align: left;
  font-weight: bold;
  font-size: 14pt;
  border-bottom: solid black 2px;
}
/* line 102, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td .header_right {
  width: 40%;
  text-align: right;
  font-size: 10pt;
  border-bottom: solid black 2px;
}
/* line 109, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td .answer {
  width: 40%;
  text-align: left;
  padding-left: 5px;
}
/* line 115, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td .response {
  width: 5%;
  text-align: center;
  padding-left: 5px;
}
/* line 121, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.survey td .resp_graph {
  width: 35%;
  text-align: left;
  background-color: grey;
}

/* line 129, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.report {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* line 135, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.report td {
  width: 33%;
  vertical-align: bottom;
}

/* line 140, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.Tooltip {
  background: transparent url(/images/dark-pointer.png) no-repeat scroll 10px bottom;
  font-size: 14px;
  line-height: 16px;
  margin-left: -5px;
  padding: 0 5px;
  position: absolute;
  z-index: 100;
  left: 0;
}

/* line 151, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.Tooltip span {
  background-color: #525252;
  color: #FFFFFF;
  display: block;
  margin-bottom: 4px;
  padding: 4px 5px;
  white-space: nowrap;
}

/* line 162, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.info {
  width: 60%;
  min-width: 400px;
  border: solid 2px red;
  empty-cells: show;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/* line 173, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.info th {
  text-align: center;
  border: 1px red solid;
  border-bottom: 2px red solid;
}

/* line 179, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
table.info td {
  text-align: center;
  border: 1px red solid;
  width: 50%;
}

/* line 186, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.nosend {
  background-color: #000000;
  color: #FFFFFF;
}

/* line 192, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.nosend a:link {
  color: #EEEEEE;
}

/* line 197, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.nosend a:visited {
  color: #FFFFDD;
}

/* line 202, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.updated_flagged {
  background-color: #FFFFBB;
}

/* line 207, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
tr.flagged {
  background-color: #FF4444;
}

/* line 212, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
div.properties {
  position: relative;
  text-align: center;
  width: 100%;
  min-width: 100%;
}

/* line 219, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
div.propindiv {
  min-width: 33%;
  width: 33%;
  height: 1.5em;
  float: left;
}

/* line 227, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
span.reporttabhead {
  font-size: 18pt;
}

/* line 231, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
span.reportscores {
  font-size: 16pt;
}

/* line 234, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
#flash_error {
  color: red;
}

/* line 238, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
#flash_notice {
  color: green;
}

/* line 253, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.ui-datepicker {
  background-color: #9c9b9b;
  width: 300px;
}
/* line 257, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.ui-datepicker .ui-datepicker-prev {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 5px;
}
/* line 262, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.ui-datepicker .ui-datepicker-next {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  position: absolute;
  top: 0;
  right: 5px;
}
/* line 267, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.ui-datepicker .ui-datepicker-title {
  text-align: center;
  width: 100%;
}
/* line 272, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.ui-datepicker td {
  font-weight: bold;
  width: 42.857px;
}

/* line 279, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.user_signup div {
  position: relative;
  padding-top: 15px;
}

/* line 285, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.public_header {
  width: 100%;
  text-align: center;
}

/* line 291, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.property_form div {
  position: relative;
  padding-top: 15px;
}

/* line 294, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.long_field {
  width: 300px;
}

/* line 298, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.thank_you_card {
  width: 100%;
  text-align: center;
}

/* line 303, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.fill_div {
  width: 100%;
  text-align: center;
  font-size: 18pt;
}

/* line 309, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.survey_center {
  width: 100%;
  text-align: center;
}

/* line 314, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.survey_info {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* line 325, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.inactive_cif {
  width: 100%;
  text-align: left;
  background-color: #000000;
  color: #FFFFFF;
}

/* line 331, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.inactive_cif .header {
  font-size: 72px;
}

/* line 339, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.active_cif {
  width: 100%;
  text-align: left;
}

/* line 343, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
div.report {
  width: 100%;
  text-align: center;
}

/* line 348, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.report_entry {
  position: relative;
  width: 100%;
}

/* line 353, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
div.report_header {
  width: 100%;
  position: relative;
}

/* line 358, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
div.report_header span {
  font-size: 18pt;
  font-weight: bold;
}

/* line 363, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.score_wrapper {
  width: 100%;
  text-align: left;
}

/* line 368, d:/vae-survey31/app/assets/stylesheets/main.css.scss */
.score_bar {
  border: 1pt solid black;
}
