<% if @report %>
    <% if @report.completed %>
        $("#results").html('<%= j("Report Complete.  <a href='/reports/get?id=#{@report.id}'>Sample Click</a> or #{raw link_to('Click Here', get_report_path(:id => @report.id))}") %>');
    <% else %>
        $('#results').append('.');
        enqueueToPulse();
    <% end %>
<% else %>
    $('#results').html("Report failed.  Please return to the reports page and try again.")
<% end %>
