<div>
  Processing report, please wait.  <span id="results"></span>
</div>

<script type="text/javascript">
    function enqueueToPulse() {
        setTimeout(callToPulse, 3000);
    }

    function callToPulse() {
        $.ajax({type: 'POST', url: '<%= pulse_path(:id => @r.id) %>'});
    }

    enqueueToPulse();
</script>